PORT=5000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=syncstream_db
JWT_SECRET=your_super_secret_jwt_key
TMDB_API_KEY=your_tmdb_api_key

# Nodemailer Gmail Configuration
EMAIL_USER=your_gmail_address@gmail.com
EMAIL_PASS=your_google_app_password
TMDB_ACCESS_TOKEN=
